body{
	/*background: url('manhattan 2.jpg') no-repeat;*/
	background-size: cover;
	font-family: Times New Roman;
	color: black;
}

.container {
	width: 1000px;
	height: 700;
	margin: 0px auto;
	padding: 10px;
	/*background-image: manhattan 2.jpg;*/
	font-size: 15px;
	
	/*@media(max-width: 640px) {
		div {
			display: block;
		}
	}*/
}
		
	nav {
		background: red;
	}

		nav ul {
			background: #777;
			padding:0;
			margin: 0; 
			transition: all 0.4s ease-in-out;
		}

		nav > ul {
			display: flex;
			/*flex-direction: column;*/
		}

		nav ul li {
			background: #000033; 
			list-style: none;
		}

		nav ul li a {
			display: inline-block; 
			width: 100px; 
			color: gold; 
			padding: 10px 20px;
			text-decoration: none;
		}

		nav ul li:hover > a {
			background: rgba(255,255,255,0.2);
		}
		
		nav ul ul li {
			/*position: relative;*/
		}

		nav ul ul ul {
			position: absolute; 
			top:0; 
			left: 100%;
		}
		
		nav > ul ul {
			position: absolute; 
			visibility: hidden; 
			opacity: 0;
		}

		nav ul li:hover > ul {
			visibility: visible; 
			opacity: 1;
		}

		nav > ul > li {
			float: left;
		}

		.clearfix:after {
			display: block;
			content: " ";
			clear: both;
		}

	table {
		align: center; 
		font-family: sans-serif; 
		font-size: 13px;
	}
	
	#loan_src {
		overflow: auto;
		border-color: gold;
	}
	
	#loan_info {
		float: right;
		overflow: auto;
		border-color: purple;
	}
	
	#table {
		overflow: auto;
		height: 425px;
		/*text-indent: 10px;*/
		background-color: pink;
		border-color: black;
	}

	#video {
		float: right;
		overflow: auto;
		height: 300px;
		border-color: green;
	}

	.box {
		float: left;
		width: 450px;
		height: 265px;
		margin-bottom: 10px;
		background-color: white;
		border: .5px solid;
	}
	
	@media (max-width: 640px) {
		nav {
			width: 450px;
		}

		nav > ul {
			display: flex;
			flex-direction: column;
			text-align: center;
		}

		#loan_info, #video {
			float: unset;
		}

		.box {
			float: unset;
			display: flex;
			flex-direction: column;
		}
	}